<a href="https://colab.research.google.com/github/codedosecodes/python/blob/main/Python_mod01_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://static.wixstatic.com/media/187085_663a141abb41479db38c836ad13ba2b8~mv2.png" alt="" width="200px" align="right"/>

# **Introduction to Programming with Python**

# Learn the Basics

Authors:
[Gabriel Mauricio Cort√©s](https://github.com/codedosecodes/),

<style>
.alert2 {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}
.alert {
  border-radius: 10px;
  background-color: #bbb;
  border: 2px solid #999;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Arial', sans-serif;
}

.alert > h3 {
  display: block;
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.alert-info {
  background-color: #1af !important;
  border: 2px solid #04a !important;
}
div.warn {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
    border-left: 5px solid #dfb5b4;
    padding: 0.5em;
    }
</style>


<table class="table table-bordered" style="border-color:green;" align="left">
  <td>
    <a target="_blank" href="https://www.codedose.codes/"><img src="https://static.wixstatic.com/media/187085_663a141abb41479db38c836ad13ba2b8~mv2.png" width="32" height="32" />View Codedose</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/drive/1k18o-HKOViymLpRfktmObU_0_DgTnFZ8"><img src="https://static.wixstatic.com/media/187085_adc0ad8b754748b5b46b2ce17d6c48fb~mv2.png" width="32" height="32" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/codedosecodes/python"><img src="https://static.wixstatic.com/media/187085_a8a39d79788e40ec8c2a70d4f42ec0ec~mv2.png" width="32" height="32" />View code in GitHub</a>
  </td>
  <td>
    <a href="https://drive.google.com/file/d/12ke42y1OYhi-FIhoJ-x-u46XHG6-B24F/view?usp=sharing"><img src="https://static.wixstatic.com/media/187085_dbe5b3fa6ced40fb83d52e0f38da647e~mv2.png" width="32" height="32" />Download notebook</a>
  </td>
          <td>
    <a target="_blank" href="https://nbviewer.org/github/codedosecodes/python/blob/main/Python_mod01_introduction.ipynb"><img src="https://static.wixstatic.com/media/187085_f270d64e2bdf462c9e26477d53a86602~mv2.png" width="32" height="32" />Jupyter Notebook</a>
  </td>
    <td>
    <a target="_blank" href="https://colab.research.google.com/drive/1k18o-HKOViymLpRfktmObU_0_DgTnFZ8"><img src="https://static.wixstatic.com/media/187085_27f04669f65449f39f6b40b6a5945496~mv2.png" width="32" height="32" />View Video</a>
  </td>
</table>




<a ><img src="https://static.wixstatic.com/media/187085_4630f194ddfd4aabad63d44874c69da7~mv2.jpg/v1/fill/w_600,h_400,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/187085_4630f194ddfd4aabad63d44874c69da7~mv2.jpgg" width="100%" height="100%" /></a>


## Objetives
### know and drive
1. Data types, expressions and statements, strings Lists, dictionaries and tuples
2. Variables
3. Opeartors
4. Control Structures



<a ><img src="https://static.wixstatic.com/media/187085_0d837ba2a4434cc095385943cf879124~mv2.png" width="80%" height="80%" /></a>


#1. Data types in Python
A data type is the property of a value that determines: its domain (values it can take), the operations that can be applied to it, and the internal representation used by the computer itself.
In python there are essentially:


Data Types_: int, float, str
_Data Structures_: list, dict, tup, set, bool

| Name | Type | Description | Example |
| :--- | :---: | :--- | :--- |
| Integers | `int` | Numbers: 7, 200, 600 | n = 21|
| Real or Floating point | `float` | Number with decimal point: 3.14, 5.8, 120.0 | n = 22.75 |
| Text or Strings | `str` | Ordered sequence of characters: 'hello', "Gabriel" |name = 'Gabriel' |
| Lists | `list` | Ordered sequence of objects: \[10, 'hello', 200.3] | l = [3, 'a', 2.5] |
| Dictionaries | `dict` | Unordered Key:Value pairs: {"key":"value", ...} | d = {1:'J', 2:'E'} |
| Tuples | `tup` | Ordered immutable sequence of objects: (10, 'hello', 200.3) |t =(2, 'b', 6.4)|
| Sets | `set` | Unordered collection of unique objects: {"a", "b"} |s = {1, 3, 5} |
| Logical values Booleans | `bool` | Logical value indicating _True_ or _False_ | flag = True|
| Complex | `complex` | To store complex numbers (real and imaginary part) | n = 10+20j|
| Range | `range` | To generate a sequence of number | numbers = range(10)|




#### Next we will see the characteristics of each one separately.

## 1.1 Numbers

As their name says, they are integers to which the known basic operations can be applied: addition (`+`), subtraction (`-`), multiplication (`*`), floating division (`/`), division integer (`//`), modulo (`%`), potentiation (`**`).

#### Basics:
- Addition: `2 + 2`
- Subtraction: `1 - 10`
- Multiplication: `3 * 2`
- Division: `4 / 5`
- Integer Division `6 // 5`

#### Other operators:
- Modulo or "Mod": `4 % 3`
- Power: `3 ** 2`
- Parentheses: `(2 + 1) * 10`

In [ ]:
2+2+2

6

In [ ]:
1-10

-9

In [ ]:
3*2

6

In [ ]:
4/5

0.8

In [ ]:
6//5

1

In [ ]:
4%3

1

In [ ]:
3**2

9

In [ ]:
(2 + 1) * 10

30


**Note**: In python 3 "traditional" division of integers gives a float. Although this is not conceptually coherent (the operation of 2 types should originate the same type of data), it is in practice what is sought and is "pragmatically" more coherent. If you are looking for the entire division, you need to use `//`.

### 1.1.1 Integers

Python uses the int data type to represent whole integer values. For example, we can use the int data type to store the roll number of a student. The Integer type in Python is represented using a int class.

You can store positive and negative integer numbers of any length such as 221, -759, 18689741.

We can create an integer variable using the two ways

Directly assigning an integer value to a variable
Using a int() class.

In [ ]:
# store int value
room_no = 33
# display room no
print("room number is:", room_no)
# output 33
print(type(room_no))
# output class 'int'

# store integer using int() class
id_room = int(21)
print(id_room)  # 21
print(type(id_room))  # class 'int'

room number is: 33
<class 'int'>
21
<class 'int'>

### 1.1.2 Real or floating point numbers.
The operation with floating numbers allows us to use the mathematical operations that we know well without problem. To enter a floating point number, you must enter its integer part followed by its decimal part. However, if we want to operate as a floating point number on an integer, a 0 must be added after the point.
Let's see what the computer gives us in the case of the previous division with floating point numbers:.

In [ ]:
7.0/4.0

1.75

In [ ]:
5./6.

0.8333333333333334

Real numbers (or floats) have the same operations as integers.

Real numbers cannot be represented with infinite precision in the computer, so it is necessary to consider that there is always a rounding error.

To represent floating-point values or decimal values, we can use the float data type. For example, if we want to store the salary, we can use the float type.

The float type in Python is represented using a float class.

We can create a float variable using the two ways

Directly assigning a float value to a variable
Using a float() class.

In [ ]:
# store a floating-point value
taxes = 2700.456
print("taxes is :", taxes)  # 2700.456
print(type(taxes))  # class 'float'

# store a floating-point value using float() class
num = float(24.75)
print(num)  # 24.75
print(type(num))  # class 'float'

taxes is : 2700.456
<class 'float'>
24.75
<class 'float'>

### 1.1.3 Complex numbers
Python allows us to operate on complex numbers through the `a+bj` syntax, where `j` denotes the imaginary number in the system. The possible operations on complex numbers are the same as for real numbers. Let's see some examples:

In [ ]:
(3 + 2j) + (- 2j) # It remains a complex number even if the imaginary part is canceled

(3+0j)

In [ ]:
(3 + 2j) - (12 + 5j)

(-9-3j)

In [ ]:
(3-2j)*(-2j)

(-4-6j)

In [ ]:
(12+5j)/(4-3j)

(1.32+2.24j)

A complex number is a number with a real and an imaginary component represented as a+bj where a and b contain integers or floating-point values.

The complex type is generally used in scientific applications and electrical engineering applications. If we want to declare a complex value, then we can use the a+bj form. See the following example.

In [ ]:
x = 7 + 5  + 8j  # both value are int type
y = 10 + 3.5j  # one int and one float
z = 12.2 + 1.2j  # both value are float type
print(type(x))  # class 'complex'>

print(x)  # (12 +8j)
print(y)  # (10+3.5j)
print(z)  # (12.2+1.2j)

<class 'complex'>
(12+8j)
(10+3.5j)
(11.2+1.2j)

## 1.2. Dictionary
In Python, dictionaries are unordered collections of unique values stored in (Key-Value) pairs. Use a dictionary data type to store data as a key-value pair.

The dictionary type is represented using a dict class. For example, If you want to store the name and roll number of all students, then you can use the dict type.

In a dictionary, duplicate keys are not allowed, but the value can be duplicated. If we try to insert a value with a duplicate key, the old value will be replaced with the new value.

Dictionary has some characteristics which are listed below:

* A heterogeneous (i.e., str, list, tuple) elements are allowed for both key and value in a dictionary. But An object can be a key in a dictionary if it is hashable.
* The dictionary is mutable which means we can modify its items
* Dictionary is unordered so we can‚Äôt perform indexing and slicing

<a><img src="https://static.wixstatic.com/media/187085_6a43c54e73eb4af88d2af8ae328eb796~mv2.png" width="80%" height="80%" /></a>

In [ ]:
my_dict = {'key1':'value1','key2':'values2'} # also can mixing values
my_dict

{'key1': 'value1', 'key2': 'values2'}

In [ ]:
my_dict['key2']

'values2'

In [ ]:
my_dict = {'g1':200, 'g2':400}
my_dict

{'g1': 200, 'g2': 400}

In [ ]:
my_dict['g3'] =600 # append and change values by 'key'
my_dict

{'g1': 200, 'g2': 400, 'g3': 600}

#### Keys

In [ ]:
my_dict.keys() # keys

dict_keys(['g1', 'g2', 'g3'])

#### Values

In [ ]:
my_dict.values() # values

dict_values([200, 400, 600])

#### Tupla pf [air 'key','value'

In [ ]:
my_dict.items() # tuple of pair 'key', 'value'

dict_items([('g1', 200), ('g2', 400), ('g3', 600)])

#### Example dictionary creation and use

In [ ]:
# create a dictionary
my_dict = {1: "Juan", 2: "Gabriel", 3: "Oscar"}

# display dictionary
print(my_dict)  # {1: 'Juan', 2: 'Gabriel', 3: 'Oscar'}
print(type(my_dict))  # class 'dict'

# create a dictionary using a dit class
my_dict = dict({1: "Juan", 2: "Gabriel", 3: "OScar"})

# display dictionary
print(my_dict)  # {1: 'Juan', 2: 'Gabriel', 3: 'Oscar'}
print(type(my_dict))  # class 'dict'

# access value using a key name
print(my_dict[1])  # Juan

# change the value of a key
my_dict[1] = "Adriana"
print(my_dict[1])  # Adriana

{1: 'Juan', 2: 'Gabriel', 3: 'Oscar'}
<class 'dict'>
{1: 'Juan', 2: 'Gabriel', 3: 'OScar'}
<class 'dict'>
Juan
Adriana

## 1.3. Boolean

Boolean values are those that can only have truth values: true (`True`) or false (`False`). They are mainly used to check the truth state of expressions and to evaluate conditionals or control structures.

In Python, to represent boolean values (True and False) we use the bool data type. Boolean values are used to evaluate the value of the expression. For example, when we compare two values, the expression is evaluated, and Python returns the boolean True or False

A simple example of how to get booleans comes from applying the order operations on numbers. For example, the equality comparison "== ", or the inequalities "<=", "<=", "<", ">".
Booleans also have the traditional operations: and (`and`), or (`or`), negation (`not`).

In [ ]:
3==4

In [ ]:
200==200

In [ ]:
3.4 <= 5

In [ ]:
(not True or True ) and (not False)

True

In [ ]:
True

True

In [ ]:
x = 25
y = 20

z = x > y
print(z)  # True
print(type(z))  # class 'bool'

True
<class 'bool'>

## 1.4. Set

In Python, a set is an unordered collection of data items that are unique. In other words, Python Set is a collection of elements (Or objects) that contains no duplicate elements.

In Python, the Set data type used to represent a group of unique elements as a single entity. For example, If we want to store student ID numbers, we can use the set data type.

The Set data type in Python is represented using a set class.

We can create a Set using the two ways

* By enclosing values in the curly brackets {}
* Using a set() class.
The set data type has the following characteristics.

* It is mutable which means we can change set items
* Duplicate elements are not allowed
* Heterogeneous (values of all data types) elements are allowed
* Insertion order of elements is not preserved, so we can‚Äôt perform indexing on a Set

Unorder collections with _unique_ items.

In [ ]:
my_set = set()
my_set

set()

In [ ]:
my_set.add(1)

In [ ]:
my_set

{1}

In [ ]:
my_set.add(3) # add in not order items
my_set.add(2)

In [ ]:
my_set

{1, 2, 3}

In [ ]:
my_set.add(1) # add repeated value doesnt work

In [ ]:
my_set

{1, 2, 3}

In [ ]:



# create a set using curly brackets{,}
my_set = {250, 25.75, "Gabriel"}
print(my_set)  # {25.75, 250, 'Gabriel'}
print(type(my_set))  # class 'set'


# create a set using set class
my_set = set({200, 25.75, "Oscar"})
print(my_set)  # {25.75, 200, 'Oscar'}
print(type(my_set))  # class 'set'


# add element to set
my_set.add(300)
print(my_set)  # {25.75, 200, 'Gabriel', 300}

# remove element from set
my_set.remove(200)
print(my_set)  # {25.75, 'Gabriel', 300}

{25.75, 250, 'Gabriel'}
<class 'set'>
{200, 25.75, 'Oscar'}
<class 'set'>
{200, 25.75, 'Oscar', 300}
{25.75, 'Oscar', 300}

## 1.5. Sequence Type

Sequence types help represent sequential data stored into a single variable. There are three types of sequences used in Python:

* String
* List
* Tuple
Individual sequence types differ from one another when it comes to changeability and order.


<a><img src="https://static.wixstatic.com/media/187085_601a43ad8c40488db6f158dad19c3091~mv2.png" width="80%" height="80%" /></a>

### 1.5.1 Strings or Text

The strings are the text strings that allow us, for example, to print information on the screen. They have their own characteristics and operations that greatly facilitate their use. String definitions can be done with single quotes (`'`), double quotes (`"`), triple single quotes (`'''`), or triple double quotes (`"""`). The use of strings in python is very important.

Strings are _ordered sequences_ which can be indexing and slicing.
Also, there is reverse indexing to get the last letter of the string.

Slicing, we use `[start:stop:step]`:
- `start`: index of slice star
- `stop` : is the last index (but not include)
- `stop` : "jump" size between `start` and `stop`

Example: `a[0:3:2]`

Also, it is possible use _escape sequence_ (e.g., \n, \t, etc.)

Sometimes it becomes useful to be able to control the format of a *string* from certain commands, being able to change upper and lower case letters, center or move the variable to one end of the screen and/or give our sequence a specific format.

For example, a *string* that we will define as a variable can be made to represent a small text. Once our *string* has been defined, we will give it a title format using the following command.

In [ ]:
string_1 = "This is string wonderful "
print(string_1)

This is string wonderful
THIS IS STRING WONDERFUL
This Is String Wonderful
this is string wonderful
============This is string wonderful =============

Another possibility is that it prints our assigned variable only as a title or with uppercase or lowercase letters.

In [ ]:
print(string_1.title())
print(string_1.upper())
print(string_1.lower())

Centering or aligning text to the left or right of the screen are other formatting options that can be done with python commands defined for a string.

In [ ]:
print(string_1.center(50,"="))

Podemos redefinir una variable con cierto formato y luego convinar con otra opci√≥n de formato como sigue.

In [ ]:
print(string_1.rjust(40," "))

               This is string wonderful

It can be seen that the previous command adjusts the text to the right, in addition to the fact that any symbol can be entered, including space, its counterpart to the left is the following.

In [ ]:
print(string_1.ljust(40,"*"))

This is string wonderful ***************

In [ ]:
'zZ' * 10

'zZzZzZzZzZzZzZzZzZzZ'

In [ ]:
string_1.split()

['This', 'is', 'string', 'wonderful']

### Indexing and Slicing with strings

In [ ]:
a = 'hello'
print(len(a))
print(a[0:5:2])

5
hlo

In [ ]:
mystring = 'Hello World'
print('indexing [0] :', mystring[0])
print('indexing [-1]:', mystring[-1])

indexing [0] : H
indexing [-1]: d

In [ ]:
print('slicing [2:]   :', mystring[2:])
print('slicing [:2]   :', mystring[:2])
print('slicing [:]    :', mystring[:])
print('slicing [2:5]  :', mystring[2:5])
print('slicing [::]   :', mystring[::])
print('slicing [::2]  :', mystring[::2])
print('slicing [::-1] :', mystring[::-1])

slicing [2:]   : llo World
slicing [:2]   : He
slicing [:]    : Hello World
slicing [2:5]  : llo
slicing [::]   : Hello World
slicing [::2]  : HloWrd
slicing [::-1] : dlroW olleH

### Search operations on a string

Carrying out search operations for a character or substring within a string, being able to count how many times this character is repeated or determine the position in which the substring is located within the string is possible through the following commands.

In [ ]:
string_3 = "buscando a wally".title()

string_3.find("Wally")

11

The *`find`* command gives us a number that indicates the position that precedes the first character of Wally, that is, we find Wally after the character that is located after position 11 within the string 3. Another option is to perform a search for a subtext in a defined section of the variable, also mentioning that when the character is not found in the defined section, by default it returns the value -1.

In [ ]:
string_3.find("Wally",0,10)
string_3.find("Wally",2,20)

We can also count how many times a character or substring is found within a string with the *`count`* command. And in the same way as before, the posting can be done in a defined section of the text.

In [ ]:
string_4 = "que f√°cil de encontrar"
string_4.count("e")

3

In [ ]:
string_4.count("e",0,13)

2

### Print Formatting with Strings

Methods:
- `.format()`
- f-strings - formatted string

In [ ]:
print('This is a string {}'.format('INSERTED'))

In [ ]:
print('The {} {} {}'.format('fox', 'red', 'quick'))
print('The {2} {1} {0}'.format('fox', 'red', 'quick'))
print('The {0} {0} {0}'.format('fox', 'red', 'quick'))

In [ ]:
print('The {q} {r} {f}'.format(f='fox', r='red', q='quick'))

** Float formating follows ** `{value:width.precision}`

In [ ]:
result = 100/9
print(result)

11.11111111111111

In [ ]:
print('The result was {r:10.3f}'.format(r=result))

The result was     11.111

In [ ]:
name = 'Gabriel'
print('My name is {}'.format(name))
print(f'My name is {name}') #formatted string literal - Python 3.6
print(f'My name is {name!r}')

My name is Gabriel
My name is Gabriel
My name is 'Gabriel'

** Placeholders **

In [ ]:
print('My name is %s' % (name))
print('My name is %r' % (name))

My name is Gabriel
My name is 'Gabriel'

In [ ]:
print('I wrote %s programs today.' % 4.75)
print('I wrote %d programs today.' % 4.75)

I wrote 4.75 programs today.
I wrote 4 programs today.

** Alignment, padding and precision with ** `.format()`

In [ ]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [ ]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

In [ ]:
'{:>10}'.format('test')

'      test'

In [ ]:
'{:_<10}'.format('test')

'test______'

In [ ]:
'{:^10}'.format('test')

'   test   '

** Truncating long strings **

In [ ]:
'{:.5}'.format('xylophone')

'xylop'

In [ ]:
'{:10.5}'.format('xylophone')

'xylop     '

** Numbers **

In [ ]:
'{:d}'.format(42)

'42'

In [ ]:
'{:f}'.format(3.141592653589793)

'3.141593'

In [ ]:
'{:4d}'.format(42)

'  42'

In [ ]:
'{:06.2f}'.format(3.141592653589793)

'003.14'

In [ ]:
'{:04d}'.format(42)

'0042'

** Signed numbers **

In [ ]:
'{:+d}'.format(42)

'+42'

In [ ]:
'{: d}'.format((- 23))

'-23'

In [ ]:
'{: d}'.format(42)

' 42'

In [ ]:
'{:=+5d}'.format(23)

'+  23'

** Named placeholders **

In [ ]:
data = {'first': 'Gabriel', 'last': 'Smith!'}
'{first} {last}'.format(**data)

'Gabriel Smith!'

In [ ]:
'{first} {last}'.format(first='Hodor', last='Hodor!')

'Hodor Hodor!'

** Getitem and Getattr **

In [ ]:
person = {'first': 'Jean-Luc', 'last': 'Picard'}
'{p[first]} {p[last]}'.format(p=person)

'Jean-Luc Picard'

In [ ]:
data = [4, 8, 15, 16, 23, 42]
'{d[4]} {d[5]}'.format(d=data)

'23 42'

** Datetime **

In [ ]:
from datetime import datetime
'{:%Y-%m-%d %H:%M}'.format(datetime(2001, 2, 3, 4, 5))

'2001-02-03 04:05'

** Parametrized formats **

In [ ]:
'{:{align}{width}}'.format('test', align='^', width='10')

'   test   '

In [ ]:
'{:.{prec}} = {:.{prec}f}'.format('Gibberish', 2.7182, prec=3)

In [ ]:
'{:{width}.{prec}f}'.format(2.7182, width=5, prec=2)

In [ ]:
'{:{prec}} = {:{prec}}'.format('Gibberish', 2.7182, prec='.3')

In [ ]:
from datetime import datetime
dt = datetime(2001, 2, 3, 4, 5)
'{:{dfmt} {tfmt}}'.format(dt, dfmt='%Y-%m-%d', tfmt='%H:%M')

'2001-02-03 04:05'

In [ ]:
'{:{}{}{}.{}}'.format(2.7182818284, '>', '+', 10, 3)

'     +2.72'

In [ ]:
'{:{}{sign}{}.{}}'.format(2.7182818284, '>', 10, 3, sign='+')

'     +2.72'

### Logical format operations

We will see that we can make logical sentences in relation to characteristics of a *string*, this can be very helpful when defining certain formats for variables that the programmer or user must manipulate.

We start with statements that refer to the format of a *string*, for example knowing if it starts or ends with certain characters, using the commands *`startswith()`* and *`endswith()`* respectively, to which Python will respond with true or false.

In [ ]:
string_5 = "building a game"
print(string_5.startswith("building"))

True

In [ ]:
print(string_5.endswith("game"))

True

We can also check if the *string* contains only numeric, alphabetic or alphanumeric characters, using the *`isdigit()`*, *`isalpha()`* and *`isalnum()`* commands respectively.

In [ ]:
print(string_5.isdigit())

False

In [ ]:
string_6 = "1987"
print(string_6.isalpha())

False

In [ ]:
print(string_6.isdigit())

True

In [ ]:
string_7 = string_6 + string_5
print(string_7)
print(string_7.isalnum())

1987building a game

In [ ]:
string_8="1987game"
print(string_8.isalnum())

True

Then we can try other formatting features, such as knowing if the string contains only uppercase characters, only lowercase characters, or even some specific format such as title, using the *`isupper()`*, *`islower()`* commands. and finally *`ititle()`*

In [ ]:
name = "isaac"
print(name.isupper())

False

In [ ]:
print(name.islower())

True

In [ ]:
lastname = "asimov".upper()
print(lastname.islower())
response = lastname.islower()
print(response)

False
False

In [ ]:
name_full = name.title() + lastname.title()

print(name_full)

IsaacAsimov

another format characteristic applied from a logical operation will be whether the string contains only whitespace, for which we will use the *`isspace()`* command as follows.*`ititle()`*

In [ ]:
name_full = "isaac asimov".title()
print(name_full.isspace())
name_empty = "    "
print(name_empty.isspace())

False
True

### Conditioning statements
a conditioning statement will allow us to broaden the spectrum of application of logical operations from basic elements

In [ ]:
password_1 = "abcd1234"

if len(password_1)<10:
     print("password contains less than 10 characters")
else:
     print("valid password")

password contains less than 10 characters

In [ ]:
password_2 = "abcd1234ab"
response = password_2.islower()

if len(password_2)<10:
     print("password contains less than 10 characters")
elif response == True:
     print("password must contain at least 1 uppercase character")
else:
     print("valid password")

password must contain at least 1 uppercase character

### Str data type
In Python, A string is a sequence of characters enclosed within a single quote or double quote. These characters could be anything like letters, numbers, or special symbols enclosed within double quotation marks. For example, "PYnative" is a string.

The string type in Python is represented using a str class.

To work with text or character data in Python, we use Strings. Once a string is created, we can do many operations on it, such as searching inside it, creating a substring from it, and splitting it.

In [ ]:
platform = "PYnative"
print(type(platform))  # <class 'str'>

# display string
print(platform)  # 'PYnative'

# accessing 2nd character of a string
print(platform[1])  # Y

# accessing 4nd character of a string
print(platform[4])  # t

<class 'str'>
PYnative
Y
t

Strings are a sequence of bytes representing Unicode characters. The string type in Python is called str.

Create a String

Depending on the use case and characters needed, there are four different ways to create a string. They differ based on the delimiters and whether a string is single or multiline.

In [ ]:
print("This is a string with 'single' quotes delimited by double quotes")

This is a string with 'single' quotes delimited by double quotes

In [ ]:
print("Thanks to the \"\\\" character, we can use double quotes inside double quote delimiters")

Thanks to the "\" character, we can use double quotes inside double quote delimiters

Create a string by using single quote delimiters

In [ ]:
print('This is a string with "double" quotes delimited by single quotes')

This is a string with "double" quotes delimited by single quotes

There are two ways to delimit a multiline string.

Create a multiline string by using triple single quote delimiters:

In [ ]:
print('''This is a multiline string
with 'single', "double" and """triple-double""" quotes
delimited with triple single quotes''')

This is a multiline string
with 'single', "double" and """triple-double""" quotes
delimited with triple single quotes

In [ ]:
print("""'This is a multiline string
with 'single', "double" and ```triple single``` quotes
delimited with triple double quotes'""")

'This is a multiline string
with 'single', "double" and ```triple single``` quotes
delimited with triple double quotes'

Access Elements of a String

Strings in Python are arrays of characters. To access individual elements, use indexing:

In [ ]:
s = "phoenixNap"
s[0], s[2], s[-1]

('p', 'o', 'p')

In [ ]:
print(s[0:7])
print(s[-3:])

phoenix
Nap

In [ ]:
for letter in s:
     print(letter)

p
h
o
e
n
i
x
N
a
p

### 1.5.2 List in Python

The Python List is an ordered collection (also known as a sequence ) of elements. List elements can be accessed, iterated, and removed according to the order they inserted at the creation time.

A Python list is an ordered changeable array. Lists allow duplicate elements regardless of their type. Adding or removing members from a list allows changes after creation.

We use the list data type to represent groups of the element as a single entity.  For example: If we want to store all student‚Äôs names, we can use list type.

1. The list can contain data of all data types such as  int, float, string
2. Duplicates elements are allowed in the list
3. The list is mutable which means we can modify the value of list elements
4. Lists are ordered.
5. Lists can contain any arbitrary objects.
6. List elements can be accessed by index.
7. Lists can be nested to arbitrary depth.
8. Lists are mutable.
9. Lists are dynamic.
We can create a list using the two ways

* By enclosing elements in the square brackets [].
* Using a list() class.

<a><img src="https://static.wixstatic.com/media/187085_71ac1aa2f8c4475ba21f4c096a035b1a~mv2.png" width="80%" height="80%" /></a>

In [ ]:
my_list = ["Juan", "Gabriel", 20, 35.75]
# display list
print(my_list)  # ['Juan', 'Gabriel', 20, 35.75]
print(type(my_list))  # class 'list'

# Accessing first element of list
print(my_list[0])  # 'Juan'

# slicing list elements
print(my_list[1:5])  # ['Gabriel', 20, 35.75]

# modify 2nd element of a list
my_list[1] = "Adriana"
print(my_list[1])  # 'Adriana'
print(my_list, "is", type(my_list))

# create list using a list class
my_list2 = list(["Juan", "Gabriel", 20, 35.75])
print(my_list2)  # ['Juan', 'Gabriel', 20, 35.75]

['Juan', 'Gabriel', 20, 35.75]
<class 'list'>
Juan
['Gabriel', 20, 35.75]
Adriana
['Juan', 'Adriana', 20, 35.75] is <class 'list'>
['Juan', 'Gabriel', 20, 35.75]

Access Elements of a List

Lists are a sequence of elements. Access members by using indexing notation, where the first element is at index 0:

In [ ]:
my_list[0], my_list[3], my_list[1]

('Juan', 35.75, 'Adriana')

In [ ]:
my_list[0:2]

['Juan', 'Adriana', 20]

In [ ]:
my_list[0:3]

['Juan', 'Adriana', 20]

Negative indexes are also possible

In [ ]:
my_list[-1]

35.75

In [ ]:
my_list[0:3:2]

['Juan', 20]

Lists Can Be Nested
You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth

In [ ]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print(x)

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [ ]:
print(x[0], x[2], x[4]) # a g j

a g j

In [ ]:
print(x[1][1])

['ccc', 'ddd']

In [ ]:
print(x[1][1][0], x[1][1][1])

ccc ddd

Modifying a Single List Value
A single value in a list can be replaced by indexing and simple assignment:

In [ ]:
 a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
 print(a)
 a[2] = 10
 a[-1] = 20
 print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

A list item can be deleted with the del command or adding with append command:

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
del a[3]
print(a)
a.append(123)
print(a)

['foo', 'bar', 'baz', 'quux', 'corge']
['foo', 'bar', 'baz', 'quux', 'corge', 123]

In [ ]:
# A list of mixed datatypes
L = [ 1, 'abc', 1.23, (3+4j), True]
print(L)
# An empty list
L = []
print(L)

[1, 'abc', 1.23, (3+4j), True]
[]

In [ ]:
# Convert a string to a list
L = list('abc')
print(L)
# Prints ['a', 'b', 'c']

['a', 'b', 'c']

Combine Lists
You can merge one list into another by using extend() method. It takes a list as an argument and appends all of the elements.

In [ ]:
L = ['red', 'green', 'yellow']
L.extend([1,2,3])
print(L)
# Prints ['red', 'green', 'yellow', 1, 2, 3]

['red', 'green', 'yellow', 1, 2, 3]

Alternatively, you can use the concatenation operator + or the augmented assignment operator +=

In [ ]:
# concatenation operator
L = ['red', 'green', 'blue']
L = L + [1,2,3]
print(L)
# Prints ['red', 'green', 'blue', 1, 2, 3]

# augmented assignment operator
L = ['red', 'green', 'blue']
L += [1,2,3]
print(L)
# Prints ['red', 'green', 'blue', 1, 2, 3]

['red', 'green', 'blue', 1, 2, 3]
['red', 'green', 'blue', 1, 2, 3]

Remove an Item by Index
If you know the index of the item you want, you can use pop() method. It modifies the list and returns the removed item.

If no index is specified, pop() removes and returns the last item in the list.

In [ ]:
L = ['red', 'green', 'blue']
x = L.pop(1)
print(L)
# Prints ['red', 'blue']

# removed item
print(x)
# Prints green

If you don‚Äôt need the removed value, use the del statement.

In [ ]:
L = ['red', 'green', 'blue']
del L[1]
print(L)
# Prints ['red', 'blue']

Remove an Item by Value
If you‚Äôre not sure where the item is in the list, use remove() method to delete it by value.

In [ ]:
L = ['red', 'green', 'blue']
L.remove('red')
print(L)
# Prints ['green', 'blue']

In [ ]:
L = ['red', 'green', 'blue', 'red']
L.remove('red')
print(L)
# Prints ['green', 'blue', 'red']

Remove Multiple Items
To remove more than one items, use the del keyword with a slice index.

In [ ]:
L = ['red', 'green', 'blue', 'yellow', 'black']
del L[1:4]
print(L)
# Prints ['red', 'black']

Remove all Items
Use clear() method to remove all items from the list.

In [ ]:
L = ['red', 'green', 'blue']
L.clear()
print(L)
# Prints []

Check if item exists in a list
To determine whether a value is or isn‚Äôt in a list, you can use in and not in operators with if statement.

In [ ]:
# Check for presence
L = ['red', 'green', 'blue']
if 'red' in L:
    print('yes')

# Check for absence
L = ['red', 'green', 'blue']
if 'yellow' not in L:
    print('yes')

yes
yes

### Python List Methods
Python has a set of built-in methods that you can call on list objects.

Python List Methods

| Method | 	Description|
| :--- | :---: |
| append() |	Adds an item to the end of the list |
| insert() |	Inserts an item at a given position |
| extend() |	Extends the list by appending all the items from the iterable |
| remove() |	Removes first instance of the specified item |
| pop() |	Removes the item at the given position in the list |
| clear() |	Removes all items from the list |
| copy() |	Returns a shallow copy of the list |
| count() |	Returns the count of specified item in the list |
| index() |	Returns the index of first instance of the specified item |
| reverse() |	Reverses the items of the list in place |
| sort() |	Sorts the items of the list in place |

### Functions with Python List

Python has a set of built-in methods that you can call on list objects.

Python List Methods

| Method | 	Description|
| :--- | :---: |
| all()| 	Returns True if all list items are true
| any()| 	Returns True if any list item is true
| enumerate()| 	Takes a list and returns an enumerate object
| len()	| Returns the number of items in the list
| list()	| Converts an iterable (tuple, string, set etc.) to a list
| max()	| Returns the largest item of the list
| min()	| Returns the smallest item of the list
| sorted()	| Returns a sorted list
| sum()	| Sums items of the list

### 1.5.3 Tuples in Python

Tuples in Python are the types in which the user cannot change the elements once they are inserted or assigned. They are just similar to lists but we can change the elements of the list once assigned. A tuple can be created in python by putting the elements inside ‚Äò( )‚Äô these brackets. There is no boundary for the elements in a tuple.  It can have a number of elements as a user wants. They can be of different data types as well such as int, float, char etc.

In case we want to put a single element inside a tuple, the user can put a comma after the single element. Otherwise, the program doesn‚Äôt consider that element to be in a tuple

<a><img src="https://static.wixstatic.com/media/187085_cce08af60864472ebe391f459c870738~mv2.png" width="80%" height="80%" /></a>

In [ ]:
dh_tuple = ()
print(dh_tuple)
dh_tuple = (10, 20, 30)
print(dh_tuple)
dh_tuple = (100, "Welcome", 10.6)
print(dh_tuple)
dh_tuple = ("Developer Helps", [2, 0, 9], (71, 20, 34))
print(dh_tuple)
print(dh_tuple[1])
print(dh_tuple[1][2])

()
(10, 20, 30)
(100, 'Welcome', 10.6)
('Developer Helps', [2, 0, 9], (71, 20, 34))
[2, 0, 9]
9

Tuples are ordered collections of elements that are unchangeable. The tuple is the same as the list, except the tuple is immutable means we can‚Äôt modify the tuple once created.

In other words, we can say a tuple is a read-only version of the list.

For example: If you want to store the roll numbers of students that you don‚Äôt change, you can use the tuple data type.

Note: Tuple maintains the insertion order and also, allows us to store duplicate elements.

We can create a tuple using the two ways

* By enclosing elements in the parenthesis ()
* Using a tuple() class.

In [ ]:
# create a tuple
my_tuple = (11, 24, 56, 88, 78)
print(my_tuple)  # (11, 24, 56, 88, 78)
print(type(my_tuple))  # class 'tuple'

# Accessing 3rd element of a tuple
print(my_tuple[2])  # 56

# slice a tuple
print(my_tuple[2:7])  # (56, 88, 78)

# create a tuple using a tuple() class
my_tuple2 = tuple((10, 20, 30, 40))
print(my_tuple2)  # (10, 20, 30, 40)

(11, 24, 56, 88, 78)
<class 'tuple'>
56
(56, 88, 78)
(10, 20, 30, 40)

To create a tuple with a single element, use a comma after the first element

In [ ]:
p = ("codedose")
n = ("codedose",)
print("p is", type(p), "whereas n is", type(n))

p is <class 'str'> whereas n is <class 'tuple'>

Defining and Using Tuples
Tuples are identical to lists in all respects, except for the following properties:

Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
Tuples are immutable.
Here is a short example showing a tuple definition, indexing, and slicing

Similar to lists. However, they are _immutability_.
Thus, the elements in a tuple can not be reassign.11

In [ ]:
my_tup = (1,2,3) # also, mixing types
type(my_tup), len(my_tup)

(tuple, 3)

In [ ]:
my_tup[-1] # indexing

3

In [ ]:
my_tup = ('a', 'b', 'a', 'a')

In [ ]:
my_tup.count('a') # how many 'a' are there?

3

In [ ]:
my_tup.index('a') # index of first 'a'

0

# 2. Variables and Operators

In programming, a variable is a container (storage area) to hold data. For example,

number = 10
Here, number is the variable storing the value 10

A variable is a reserved memory area (memory address) to store value. For example, we want to store an employee‚Äôs salary. In such a case, we can create a variable and store salary using it. Using that variable name, you can read or modify the salary amount.

In other words, a variable is a value that varies according to the condition or input pass to the program. Everything in Python is treated as an object so every variable is nothing but an object in Python.

A variable can be either mutable or immutable. If the variable‚Äôs value can change, the object is called mutable, while if the value cannot change, the object is called immutable

Python programming language is dynamically typed, so there is no need to declare a variable before using it or declare the data type of variable like in other programming languages. The declaration happens automatically when we assign a value to the variable.

Creating a variable and assigning a value

We can assign a value to the variable at that time variable is created. We can use the assignment operator = to assign a value to a variable.

The operand, which is on the left side of the assignment operator, is a variable name. And the operand, which is the right side of the assignment operator, is the variable‚Äôs value.

In [ ]:
# assign value to site_name variable
site_name = 'codedose.codes'

print(site_name)

# Output: codedose.codes

codedose.codes

In [ ]:
name = "John"  # string assignment
age = 25  # integer assignment
salary = 25800.60  # float assignment

print(name)  # John
print(age)  # 25
print(salary)  # 25800.6

John
25
25800.6

Many programming languages are statically typed languages where the variable is initially declared with a specific type, and during its lifetime, it must always have that type.

But in Python, variables are dynamically typed and not subject to the data type restriction. A variable may be assigned to a value of one type, and then later, we can also re-assigned a value of a different type

In [ ]:
var = 10
print(var)  # 10
# print its type
print(type(var))  # <class 'int'>

# assign different integer value to var
var = 55
print(var)  # 55

# change var to string
var = "Now I'm a string"
print(var)  # Now I'm a string
# print its type
print(type(var))  # <class 'str'>

# change var to float
var = 35.69
print(var)  # 35.69
# print its type
print(type(var))  # <class 'float'>

10
<class 'int'>
55
Now I'm a string
<class 'str'>
35.69
<class 'float'>

Assigning multiple values to multiple variables

In [ ]:
a, b, c = 5, 3.2, 'Hello'

print(a)  # prints 5
print(b)  # prints 3.2
print(c)  # prints Hello

In [ ]:
site1 = site2  = 'codedose.codes'

print(site1)  # prints codedose.codes
print(site2)  # prints codedose.codes

String variable
In Python, a string is a set of characters represented in quotation marks. Python allows us to define a string in either pair of single or double quotation marks. For example, to store a person‚Äôs name we can use a string type.

To retrieve a piece of string from a given string, we can use to slice operator [] or [:]. Slicing provides us the subset of a string with an index starting from index 0 to index end-1.

To concatenate the string, we can use the addition(+) operator.

In [ ]:
# create a variable of type string
str = 'codedose'
# prints complete string
print(str)  # codedose

# prints first character of the string
print(str[0])  # c

# prints characters starting from 2nd to 5th
print(str[2:5])  # ded

# length of string
print(len(str))  # 8

# concatenate string
print(str + "TEST")  # codedoseTEST

codedose
c
ded
8
codedoseTEST

Special Literal in Python
Python contains one special literal None. We use it to specify a null variable. For example

In [ ]:
value = None

print(value)

# Output: None

None

Literal Collections
There are four different literal collections List literals, Tuple literals, Dict literals, and Set literals.

In [ ]:
# list literal
fruits = ["apple", "mango", "orange"]
print(fruits)

# tuple literal
numbers = (1, 2, 3)
print(numbers)

# dictionary literal
alphabets = {'a':'apple', 'b':'ball', 'c':'cat'}
print(alphabets)

# set literal
vowels = {'a', 'e', 'i' , 'o', 'u'}
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a', 'e', 'i', 'u', 'o'}

### Python Constants
A constant is a special type of variable whose value cannot be changed.

In Python, constants are usually declared and assigned in a module (a new file containing variables, functions, etc which is imported to the main file).

Let's see how we declare constants in separate file and use it in the main file,

Constant is a variable or value that does not change, which means it remains the same and cannot be modified. But in the case of Python, the constant concept is not applicable. By convention, we can use only uppercase characters to define the constant variable if we don‚Äôt want to change it

MAX_VALUE = 500


Create a constant.py:
# declare constants
PI = 3.14
GRAVITY = 9.8

# import constant file we created above
import constant

print(constant.PI) # prints 3.14
print(constant.GRAVITY) # prints 9.8

Create a main.py

Variable‚Äôs case-sensitive
Python is a case-sensitive language. If we define a variable with names a = 100 and A =200 then, Python differentiates between a and A. These variables are treated as two different variables (or objects).

In [ ]:
a = 100
A = 200

# value of a
print(a)  # 100
# Value of A
print(A)  # 200

a = a + A
print(a)  # 300

100
200
300

## Scope Variables

The scope defines the accessibility of the python object. To access the particular variable in the code, the scope must be defined as it cannot be accessed from anywhere in the program. The particular coding region where variables are visible is known as scope. Variables are not visible to the entire code; their visibility can be restricted. Scope verifies which variable can be ‚ÄòSeen‚Äô. The scope defines the set of rules which tell us how and where a variable can be searched. The variable is searched either to retrieve a value or for assigning value. The namespace is the unique identification of the variable or the method. Namespace tells the python interpreter about the name of the object and the location from where it is trying to access it.

The Namespaces are searched for scope resolution according to the LEGB rule. The LEGB stands for :L: Local, E: Enclosed, G: Global, B: Built-in. The sequence of LEGB is important. The variable is first searched in Local, followed by Enclosed, then global and finally built-in

<a><img src="https://static.wixstatic.com/media/187085_fd6cb87f60814e449fb92e075bef7ae4~mv2.png" width="80%" height="80%" /></a>

#### Local Scope
The Variables which are defined in the function are a local scope of the variable. These variables are defined in the function body. Let‚Äôs understand this concept with the help of an example. In this example 1, we have taken one variable num. Num = 0 is defined outside the function, so it is not a local variable. As per our definition, the variables which are declared inside the function body is a local variable.

A local variable is a variable that is accessible inside a block of code only where it is declared. That means, If we declare a variable inside a method, the scope of the local variable is limited to the method only. So it is not accessible from outside of the method. If we try to access it, we will get an error.

In [ ]:
num=0
def demo():
    #print(num)
    num=1
    print("The Number is:",num)
demo()

The Number is: 1

#### Global Scope
A Global variable is a variable that is defined outside of the method (block of code). That is accessible anywhere in the code file.

The Variable which can be read from anywhere in the program is known as a global scope. These variables can be accessed inside and outside the function. When we want to use the same variable in the rest of the program, we declare it as global.

In the following Example 1, we have declared a variable Str, which is outside the function. The function demo is called, and it prints the value of variable Str. To use a global variable inside a function, there is no need to use the global keyword.

In [ ]:
def demo():
    print(Str)
# Global
Str = "You are Gammer"
demo()

You are Gammer

#### NonLocal or Enclosing Scope
Nonlocal Variable is the variable that is defined in the nested function. It means the variable can be neither in the local scope nor in the global scope. To create a nonlocal variable nonlocal keyword is used.  In the following code, we created an outer function, and there is a nested function inner(). In the scope of outer() function inner() function is defined. If we change the nonlocal variable as defined in the inner() function, then changes are reflected in the outer function.

In [ ]:
def func_outer():
    x = "local"
    def func_inner():
        nonlocal x
        x = "nonlocal"
        print("inner:", x)
    func_inner()
    print("outer:", x)
func_outer()

inner: nonlocal
outer: nonlocal

In [ ]:
def func_outer():
    a = "local"
    def func_inner():
        #nonlocal a
        a = "nonlocal"
        print("inner:", a)
    func_inner()
    print("outer:", a)
func_outer()

inner: nonlocal
outer: local

#### Built-in Scope
If a Variable is not defined in local, Enclosed or global scope, then python looks for it in the built-in scope. In the Following Example, 1 from math module pi is imported, and the value of pi is not defined in global, local and enclosed. Python then looks for the pi value in the built-in scope and prints the value. Hence the name which is already present in the built-in scope should not be used as an identifier.

In [ ]:
# Built-in Scope
from math import pi
# pi = 'Not defined in global pi'
def func_outer():
    # pi = 'Not defined in outer pi'
    def inner():
        # pi = 'not defined in inner pi'
        print(pi)
    inner()
func_outer()

3.141592653589793

#3. Operators

Operators are used to perform operations on values and variables. The Python operators are classified into seven different categories:

* Assignment operators
* Arithmetic operators
* Bitwise operators
* Logical operators
* Comparison and Relational operators
* Identity operators
* Membership operators

<a><img src="https://static.wixstatic.com/media/187085_9908db0670d54a658e2efed74fb3ee83~mv2.png" width="80%" height="80%" /></a>

### Assignment Operators
Assignment operators are used to assign new values to variables.

Python Assignment operators

| Oerator | Meaning | Example | Equivatent to |
| :--- | :---: | :--- | :--- |
|= |	Assignment, Assigns right side operands to left variable|	x = 3|	x = 3|
|+=|	Addition assignment, Added and assign back the result to left operand|	x += 3|	x = x + 3|
|-=|	Subtraction assignment, Substracted and assign back the result to left operand|	x -= 3|	x = x ‚Äì 3|
|*=|	Multiplication assignment, Multiplied and assign back the result to left operand | 	x *= 3|	x = x * 3|
|/=|	Division assignment, Divide and assign back the result to left operand|	x /= 3|	x = x / 3|
|%=|	Modulus assignment, Taken modulos (rameinder) using two operans and assigna the result to left operand|	x %= 3|	x = x % 3|
|//=|	Floor division assignment|	x //= 3	|x = x // 3|
|**=|	Exponentiation assignment|	x **= 3	|x = x ** 3|
|&=|	Bitwise AND assignment|	x &= 3|	x = x & 3|
|  !=|	Bitwise OR assignment|	x |= 3|	x = x | 3|
|^=|	Bitwise XOR assignment|	x ^= 3|	x = x ^ 3|
|>>=|	Bitwise right shift assignment|	x >>= 3	|x = x >> 3|
|<<=	|Bitwise left shift assignment|	x <<= 3	|x = x << 3|

In [ ]:
a = 5
print("a = 5 is ", a)
a += 20
print("a += 20 is ", a)
a -= 5
print("a -= 5 is ", a)
a *= 6
print("a *= 6 is ", a)
a /= 2
print("a /= 2 is ", a)
a %= 4
print("a %= 4 is ", a)

# The output for the above program will be as follows.
#a = 5 is 5
#a += 20 is 25
#a -= 5 is 20
#a *= 6 is 120
#a /= 2 is 60.0
#a %= 4 is 0.0

a = 5 is  5
a += 20 is  25
a -= 5 is  20
a *= 6 is  120
a /= 2 is  60.0
a %= 4 is  0.0

### Arithmetic Operators
Arithmetic operators are used to perform simple mathematical operations on numeric values (except complex).

Python Arithmetic operators

| Operator | Meaning | Example  |
| :--- | :---: | :--- |
+	|  Addition To add two operands	| x + y
‚Äì	| Subtraction, To substract the right operand from the left operand	| x ‚Äì y
*	| Multiplication, To multiply one operand with thw other| 	x * y
/| 	Division, To divide the left operand by the right operand| x / y
%	| Modulus, Gives rameinder after dividing x from y	| x % y
**| 	Exponentiation, To get the exponent of the left operand raised to the power of the right operand, ignere the decimal value if present | 	x ** y
//| 	Floor division, To divide the left operand by the right operand and get the floor value of the quotient| 	x // y

In [ ]:
x = 6
y = 2

# addition
print(x + y)		# 8

# subtraction
print(x - y)		# 4

# multiplication
print(x * y)		# 12

# division
print(x / y)		# 3

# modulus
print(x % y)		# 0

# exponentiation
print(x ** y)		# 36

# floor division
print(x // y)		# 3

8
4
12
3.0
0
36
3

In [ ]:
a = 10

b = 4

print('a+b = ', a+b)

print('a-b = ', a-b)

print('a*b = ', a*b)

print('a/b = ', a/b)

print('a%b = ', a%b)

print('a//b = ', a//b)

print('a**b = ', a**b)

# Here is the output for the above program,
# a+b = 14
# a-b = 6
# a*b = 40
# a/b = 2.5
# a%b = 0.4
# a//b = 2
# a**b = 10000

a+b =  14
a-b =  6
a*b =  40
a/b =  2.5
a%b =  2
a//b =  2
a**b =  10000

### Bitwise Operators
Binary operators are used to perform bit-level operations on (binary) numbers.

Python Bitwise operators

| Oerator | Meaning | Example | Equivatent to |
| :--- | :---: | :--- | :--- |
|&|	AND	|x & y
|!	|OR	|x ! y
|^	|XOR|	x ^ y
|~	|NOT|	~x
|<<	|Left shift|	x << 2
|>>	|Right shift|	x >> 2

In [ ]:
x = 0b1100
y = 0b1010

# and
print(bin(x & y))	    # 0b1000

# or
print(bin(x | y))	    # 0b1110

# xor
print(bin(x ^ y))	    # 0b0110

# not
print(bin(~x))		    # -0b1101

# shift 2 bits left
print(bin(x << 2))	    # 0b1100

# shift 2 bits right
print(bin(x >> 2))	    # 0b0011

0b1000
0b1110
0b110
-0b1101
0b110000
0b11

In [ ]:
a = 10
b = 5
print('a&b =', a&b)
print('a|b =', a|b)
print('~a = ', ~a)
print('a^b =', a^b)
print('a>>1 = ', a>>1)
print('a<<1 a="" 1="" p="">')
# The output for the above program will be as follows. Let me add the binary format for the output values for a better understanding.
#a&b = 10 (0000 1010)
#a|b = 13 (0000 1011)
#~a = 5 (0000 0101)
#a^b = 1 (0000 0001)
#a >> 1 = 5 (0000 0101)
#a << 1 = 22 (0001 0110)

a&b = 0
a|b = 15
~a =  -11
a^b = 15
a>>1 =  5
a<<1 a="" 1="" p="">

### Logical Operators
Logical operators are used to join two or more conditions.

Python Logical operators

| Oerator | Meaning | Example | Equivatent to |
| :--- | :---: | :--- | :--- |
|and	|Returns True if both statements are true|	x > 0 and y < 0
|or	|Returns True if one of the statements is true|	x > 0 or y < 0
|not|	Reverse the result, returns False if the result is true|	not(x > 0 and y < 0)

In [ ]:
x = 2
y = -2

# and
print(x > 0 and y < 0)          # True

# or
print(x > 0 or y < 0)           # True

# not
print(not(x > 0 and y < 0))     # False

True
True
False

To check if the operands satisfy a specific condition, we can use logical operators.It is mainly used for decision making.The following table explains the logical operators.

<a><img src="https://static.wixstatic.com/media/187085_e6f463209c2849c28433a87cff20a495~mv2.png" width="80%" height="80%" /></a>

### Relational Operators

Comparison operators are used to compare two values.

| Oerator | Meaning | Example | Equivatent to |
| :--- | :---: | :--- | :--- |
|==	|Equal to	|x == y
|!=	|Not equal to	|x != y
|>	|Greater than	|x > y
|<	|Less than	|x < y
|>=	|Greater than or equal to|	x >= y
|<=|	Less than or equal to	|x <= y

In [ ]:
x = 6
y = 2

# equal to
print(x == y)		# False

# not equal to
print(x != y)		# True

# greater than
print(x > y)		# True

# less than
print(x < y)		# False

# greater than or equal to
print(x >= y)		# True

# less than or equal to
print(x <= y)		# False

### Identity Operators

Identity operators are used to check if two objects point to the same object, with the same memory location.

Python Identity operators

| Oerator | Meaning | Example | Equivatent to |
| :--- | :---: | :--- | :--- |
|is	| Returns true if both variables are the same object	| x is y
| is  not	| Returns true if both variables are not the same object| 	x is not y

In [ ]:
a = ["hello", "hi"]

b = ["hello", "hi"]

c = a

print("a is c = ", a is c)

print("a is b = ", a is b)

a = [1, 2]

b = [1, 2]

c = b

print("a is not c = ", a is not c)

print("b is not c = ", b is not c)

#The following is the output for the above program.
#a is c = True
#a is b = False
#a is not c = True
#b is not c = False

a is c =  True
a is b =  False
a is not c =  True
b is not c =  False

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]

# is
print(x is y)		# False

# is not
print(x is not y)	# True

False
True

#4. Control Flow structures
The flow control statements are divided into four categories

Conditional statements
Sequential
Transfer statements
Iterative statements.

<a><img src="https://static.wixstatic.com/media/187085_79e99803a33641788250872d6fb30587~mv2.png" width="80%" height="80%" /></a>

## Conditional statements
In Python, condition statements act depending on whether a given condition is true or false. You can execute different blocks of codes depending on the outcome of a condition. Condition statements always evaluate to either True or False.

There are three types of conditional statements.

* if statement
* if-else
* if-elif-else
* nested if-else

## If

In control statements, The if statement is the simplest form. It takes a condition and evaluates to either True or False.

The if statement contains an expression/condition. As per the syntax colon (:) is mandatory otherwise it throws a syntax error. The condition gives the result as a bool type, either True or False. If the condition result is True, then if block statements will be executed. If the condition result is False, then if block statements won‚Äüt execute


If the condition is True, then the True block of code will be executed, and if the condition is False, then the block of code is skipped, and The controller moves to the next line

In [ ]:
#Sintax
#if condition:
#     statement 1
#     statement 2
#     statement n

<a><img src="https://static.wixstatic.com/media/187085_fec05c86bae444eebfe8680abe5d8fc8~mv2.png" width="80%" height="80%" /></a>

In [ ]:
num = 1
print("num==1 condition gives: ", (num==1))
if num == 1:
       print("if block statements executed")

num==1 condition gives:  True
if block statements executed

In [ ]:
num = 1
print("num==2 condition gives: ", (num==1))
if num == 2:
       print("if block statements executed")
print("out of if block statements")

num==2 condition gives:  True
out of if block statements

## if -else statement

The if statement contains an expression/condition. As per the syntax colon (:) is mandatory after the condition and after the else otherwise it throws a syntax error. The condition gives the result as bool type, which means either True or False. If the condition result is True, then if block statements will be executed. If the condition result is False, then else block statements will be executed.

The if-else statement checks the condition and executes the if block of code when the condition is True, and if the condition is False, it will execute the else block of code.

In [ ]:
# Sintax
# if condition:
#    statement 1
# else:
#    statement 2

In [ ]:
num = 1
print("num==1 condition gives: ", (num==1))
if num == 1:
       print("if block statements executed")
else:
       print("else block statements executed")

num==1 condition gives:  True
if block statements executed

In [ ]:
x=10
y=20
if x > y :
  print(" X is bigger ")
else :
  print(" Y is bigger ")

 Y is bigger

## if..elif..else statement

The if statement contains an expression/condition. As per the syntax colon (:) is mandatory after each condition and after the else otherwise it throws a syntax error. The condition gives the result as bool type, which means either True or False. The conditions are evaluated in the order written. If one condition becomes True then the set of statements associated with that particular condition are executed and the execution comes out without checking other conditions.

In Python, the if-elif-else condition statement has an elif blocks to chain multiple conditions one after another. This is useful when you need to check multiple conditions.

With the help of if-elif-else we can make a tricky decision. The elif statement checks multiple conditions one by one and if the condition fulfills, then executes that code

<a><img src="https://static.wixstatic.com/media/187085_f8a3f56072534d34b558956fdf5311fb~mv2.png" width="80%" height="80%" /></a>

In [ ]:
#sintax
#if condition-1:
#     statement 1
#elif condition-2:
#     stetement 2
#elif condition-3:
#     stetement 3
#     ...
#else:
#     statement

In [ ]:
print("Please enter the values from 0 to 4")
x=int(input("Enter a number: "))
if x==0:
       print("You entered:", x)
elif x==1:
       print("You entered:", x)
elif x==2:
       print("You entered:", x)
elif x==3:
       print("You entered:", x)
elif x==4:
       print("You entered:", x)
else:
       print("Beyond the range than specified")

Please enter the values from 0 to 4
Enter a number: 4
You entered: 4

In [ ]:
x=500
if x > 500 :
  print(" X is greater than 500 ")
elif x < 500 :
  print(" X is less than 500 ")
elif x == 500 :
  print(" X is 500 ")
else :
  print(" X is not a number ")

 X is 500

## Nested if-else statement
In Python, the nested if-else statement is an if statement inside another if-else statement. It is allowed in Python to put any number of if statements in another if statement.

In some situations you have to place an if statement inside another statement

Indentation is the only way to differentiate the level of nesting. The nested if-else is useful when we want to make a series of decisions.

In [ ]:
# Sintax
#if conditon_outer:
#    if condition_inner:
#        statement of inner if
#    else:
#        statement of inner else:
#    statement ot outer if
#else:
#    Outer else
#statement outside if block

In [ ]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 72
Enter second number 80
72 is smaller than 80

## Iterative statements
In Python, iterative statements allow us to execute a block of code repeatedly as long as the condition is True. We also call it a loop statements.

Python provides us the following two loop statement to perform some actions repeatedly

* for loop
* while loop

<a><img src="https://static.wixstatic.com/media/187085_243b12c6512f43328178ede1eeef1625~mv2.png" width="80%" height="80%" /></a>

### For

The for statement in Python is a bit different from what you usually use in other programming languages.

Rather than iterating over a numeric progression, Python‚Äôs for statement iterates over the items of any iterable (list, tuple, dictionary, set, or string). The items are iterated in the order that they appear in the iterable.

In [ ]:
# Iterate through a list
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    print(x)
# Prints red green blue yellow

red
green
blue
yellow

In [ ]:
# Iterate through a string
S = 'python'
for x in S:
    print(x)
# Prints p y t h o n

p
y
t
h
o
n

Else in for Loop
Python allows an optional else clause at the end of a for loop. The else clause will be executed if the loop terminates naturally (through exhaustion).

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    print(x)
else:
    print('Done!')
# Prints red green blue yellow
# Prints Done!

In [ ]:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

range() function in for loop
If you need to execute a group of statements for a specified number of times, use built-in function range().

The range(start,stop,step) function generates a sequence of numbers from 0 up to (but not including) specified number.

In [ ]:
# Generate a sequence of numbers from 0 6
for x in range(7):
    print(x)
# Prints 0 1 2 3 4 5 6

In [ ]:
# Print 'Hello!' three times
for x in range(3):
    print('Hello!')
# Prints Hello!
# Prints Hello!
# Prints Hello!

In [ ]:
# Generate a sequence of numbers from 2 to 6
for x in range(2, 7):
    print(x)
# Prints 2 3 4 5 6

In [ ]:
for x in range(-5,0):
    print(x)
# Prints -5 -4 -3 -2 -1

-5
-4
-3
-2
-1

In [ ]:
# Increment the range with 2
for x in range(2, 7, 2):
    print(x)
# Prints 2 4 6

In [ ]:
# Flatten a nested list
list = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
for sublist in list:
    for number in sublist:
        print(number)
# Prints 1 2 3 4 5 6 7 8 9

Access Index in for Loop
To iterate over the indices of a sequence, you can combine range() and len() as follows:

In [ ]:
colors = ['red', 'green', 'blue']
for index in range(len(colors)):
    print(index, colors[index])
# Prints 0 red
# Prints 1 green
# Prints 2 blue

### While

A while loop is used when you want to perform a task indefinitely, until a particular condition is met. It‚Äôs a condition-controlled loop.

Any non-zero value or nonempty container is considered TRUE; whereas Zero, None, and empty container is considered FALSE.

Nested for Loop
A loop inside another loop is called a nested loop.

In [ ]:
# Iterate until x becomes 0
x = 6
while x:
    print(x)
    x -= 1
# Prints 6 5 4 3 2 1

In [ ]:
# Iterate until list is empty
L = ['red', 'green', 'blue']
while L:
    print(L.pop())
# Prints blue green red

In [ ]:
# Iterate until string is empty
x = 'blue'
while x:
    print(x)
    x = x[1:]
# Prints blue
# Prints lue
# Prints ue
# Prints e

blue
lue
ue
e

In [ ]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [ ]:
# program to calculate the sum of numbers
# until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number

    # take integer input again
    number = int(input('Enter a number: '))


print('total =', total)

Enter a number: 5
Enter a number: 9
Enter a number: 15
Enter a number: 45
Enter a number: 5
Enter a number: 15
Enter a number: 156
Enter a number: 0
total = 250

## Transfer statetements

In Python, transfer statements are used to alter the program‚Äôs way of execution in a certain manner. For this purpose, we use three types of transfer statements.

* break statement
* continue statement
* pass statements

<a><img src="https://static.wixstatic.com/media/187085_feb0b26e62af46d8be557d2106bac496~mv2.png" width="80%" height="80%" /></a>

#### Break in for Loop
Python break statement is used to exit the loop immediately. It simply jumps out of the loop altogether, and the program continues after the loop.

In [ ]:
# Break the loop at 'blue'
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        break
    print(x)
# Prints red green

red
green

#### Continue in for Loop
The continue statement skips the current iteration of a loop and continues with the next iteration.

In [ ]:
# Skip 'blue'
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        continue
    print(x)
# Prints red green yellow

red
green
yellow

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']
for x in colors:
    if x == 'blue':
        break
    print(x)
else:
    print('Done!')
# Prints red green

red
green

Break in while Loop
Python break statement is used to exit the loop immediately. It simply jumps out of the loop altogether, and the program continues after the loop.

In [ ]:
# Exit when x becomes 3
x = 6
while x:
    print(x)
    x -= 1
    if x == 3:
        break
# Prints 6 5 4

Continue in while Loop
The continue statement skips the current iteration of a loop and continues with the next iteration.

In [ ]:
# Skip odd numbers
x = 6
while x:
	x -= 1
	if x % 2 != 0:
		continue
	print(x)
# Prints 4 2 0

Note: References

* https://pyformat.info/
* https://pynative.com/
* https://docs.python.org/3/
* https://www.educba.com/
* https://www.learnbyexample.org/
* https://www.programiz.com/